.blockflex{
    display: block;
}
.flexuser{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.flexuser1{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    width: 300px;
}