.kottauser{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 15px;
}
.imguser{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.imguser img{
    
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    left: 0;
}
.imguser input{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    z-index: 100;
    opacity: 0;
}
.imguser:hover  .divpasus {
    width: 130px;
    height: 40px;
    background-color: #ffffff2a;
    position: relative;
    top: -60px;
    left: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: .3s;
}
 .divpasus h1{
    display: none;
}
.imguser:hover .divpasus h1{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageuser{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
.ismh1user h1{
    line-height: 23.87px;
    font-size: 20px ;
    font-family: 'Wix Madefor Display', sans-serif;
}
.ismh1user button{
    font-family: 'Wix Madefor Display', sans-serif;
    background-color: #F1F2F6;
    border-radius: 5px;
    border: none;
    width: 190px;
    height: 30px;
    margin-bottom: 25px;
}
.ismuser{
    margin-left: 20px;
}
.iconsuser h1{
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 12px;
    line-height: 14.32px;
}

.kruguser{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 5px 10px #0715652E;
    display: flex;
    align-items: center;
    justify-content: center;
}
.krug2 {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #ff004c2a;
    display: flex;justify-content: center;align-items: center;
    font-size: 17px;
    color: #000;
}
.krug21{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #ffc02e2a;
    display: flex;justify-content: center;align-items: center;
    font-size: 17px;
    color: #000;
}
.krug22{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #536cfd2a;
    display: flex;justify-content: center;align-items: center;
    font-size: 17px;
    color: #000;
}
.icons1202{
    display: flex;  
    align-items: center;
    justify-content: space-around;
    width: 150px;
}
.kruguser img{
opacity: 50%;
color: red;
}
 .publ{
    display: block;
 }
.publ h4{
    color: #9DA7BB;
    line-height: 0px;
}
.publ h1{
    line-height: 39px;
    font-size: 35px;
    font-weight: 700;
}
.publ span{
    font-size: 25px;
    font-weight: 300;
}

.activity{
display: flex;
}
.accdaf{
    width: 45px;
    height: 40px;
    background-color: #08d;
    color: #fff;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: none;
}
.activity button{
    background-color: #08d;
    border: none;
    color: #fff;
    border-radius: 5px;
    margin-left: 5px;
}
.summauser{
    display: flex;
    width: 330px;
    margin-left: 10%;
}
.otdeluser{
    display: flex;
    margin-left: 10%;
}
.kolokoluser{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: none;
    background: #F1F2F6;
    color: rgb(170, 170, 170);
    display: flex;justify-content: center;align-items: center;
    font-size: 20px;
}
.dotuser{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: none;
    background: #F1F2F6;
    color: rgb(170, 170, 170);
    display: flex;justify-content: center;align-items: center;
    font-size: 20px;
    margin-left: 10px;
}


    



@media (max-width:600px) {
    .imageuser{
        display: block;
        text-align: center;
    }
    .ismh1user button{
        margin-bottom: 10px;
    }
    .imguser {
        margin-left: 25%;
    }
    .icons1202{
        width: 250px;
        margin-top: 20px;
    }
    .summauser{
        text-align: center;
        display: block;
        margin-left: 20px;
    }
    .activity{
        margin-left: 13%;
    }
    .activity button{
        width: 165px;
    }
    .otdeluser{
        position: absolute;
        top: 0;
        margin-left: 66%;
    }
}

@media (max-width:360px) {
    .activity button{
        width: 140px;
    }
    .activity{
        margin-left: 15%;
    }
}